@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes go-left {
  100% {
    transform: translate(-50px,25px);
  }
}
@keyframes go-right {
  100% {
    transform: translate(-10px,25px);
  }
}
@keyframes fadeOut-select
{
  0% {
    opacity: 1;
  }
  30%{
    opacity: 1;
  }
  40%{
    opacity: 0;
  
  }
  50%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


html, body {
  height:100%;
  margin: 0;
}



.main-buttons{
  position: absolute;
}

.main-button{
  outline: none;
  transform     : translate(0px,30px);
  font-size     : 30pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 0px 0px;   /* 余白       */
  margin        : 10px 0px;
  width         : 300px;
  background    : #ffffff;     /* 背景色     */
  color         : #545454;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : 0.3s;         /* なめらか変化 */
  box-shadow    : 5px 5px #8a8a8a;  /* 影の設定 */
  border        : 5px solid #a6f2ff;    /* 枠の指定 */
  border-radius :25px;
}

.before-circle{	
  position      : relative;
  display       : block;
  width         : 60px;
  height        : 60px;
  border-radius : 50%;
  text-align    : center;
  line-height   : 60px;
  background    : #ffffff;
  box-shadow    : 5px 5px #8a8a8a;  /* 影の設定 */
  border        : 5px solid #a6f2ff;    /* 枠の指定 */
  color         : #545454;     /* 文字色     */
  font-size     : 35pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
}
.skill-text{
  background-color: chocolate;
  opacity: 0;
  margin-left: 20px;
  width: 10%;
  text-align:"center";
}



ul{
  list-style    : none;
  padding-left  : 3%;
}










.scene {
  text-align: right;
  height: 100%;
  padding: 0;
}
.buttle-scene {
  width: 100%;
  height: 100%;
  border:none;
  position: relative;z-index: -99;
}
.skill-buttons{
  position: absolute;
  border-radius: 5px;
  padding: 0.5em 1em 0.5em 2.3em;
}


.skill-button{
  position: absolute;
  color: #404040;
  border: none;
  border-left: solid 20px #1fa67a;/*左側の線*/
  background: whitesmoke;
  margin-bottom: 10px;/*下のバーとの余白*/
  line-height: 1;
  padding: 0.5em;
  width: 500px;
  transition    : 0.3s;         /* なめらか変化 */
  box-shadow    : 5px 5px #8a8a8a;  /* 影の設定 */
  outline: none;
  height: 100px;
  padding-left: 30%;
  padding-top: 0%;
  font-size: 500%;
  position: relative;
  text-align: start;
}

.skill-menue{
  display: none;
  position: absolute;
  transform: translate(0px,-800px);
}

.skill-popup{
  display: none;
  position: relative;
}
.back-button{
  transform: translate(470px,350px);
  background-color: rgb(104, 104, 104);
  opacity: 0.8;
  outline: none;
  color:#ffffff;
  padding: 10px 20px;
}



.texts{
  transform: translateY(-800px);
}
.main-icons{
  position: absolute;
  transform: translate(-10px,25px);
}

.about-menue{
  display: none;
  position: absolute;
  transform: translate(0px,-800px);
  text-align: center;
  width: 100%;
}
.about-me{
  transform: translate(0px,-20px);
}
.status{
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  height: 200px;
  background-color: rgba(137, 255, 229, 0.548);
  border:solid 2px rgba(0, 0, 0, 0.295);
}
.hp-label{
  margin-top: 5%;
}
.status-text,.syogo-title{
  position: absolute;
  transform: translate(100px,-60px);
  border:solid 2px #a6f2ff;
  height: 6%;
  width: 10%;
  background-color: rgb(255, 255, 255);
}
.syogo{
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 5%;
  height: 130px;
  background-color: rgba(137, 255, 229, 0.548);
  border:solid 2px rgba(0, 0, 0, 0.295);
}
.about-back{
  transform: translate(0px,0px);
  background-color: rgb(104, 104, 104);
  opacity: 0.7;
  outline: none;
  color:#ffffff;
  font-size: 150%;
  transform: translate(0px,-20px);
  padding: 20px 80px;
}
.syogo-text{
  transform: translate(-10px,-0px);
}
.hpmp{
  position: absolute;
  transform: translate(750px,-50px);
}
.teki-hp{
  transform: translate(-240px,-750px);
  width: 200%;

}




.fadeout {
  animation : fadeOut 0.5s;
  animation-fill-mode: both;
}
.fadeout-select {
  animation : fadeOut-select 0.5s;
  animation-fill-mode: both;
}
.fadein {
  animation : fadeIn 0.5s;
  animation-fill-mode: both;
}
.go-left{
  animation : go-left 1s;
  animation-fill-mode: both;
}
.go-right{
  animation : go-right 1s;
  animation-fill-mode: both;
}


.hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  border        : 5px solid #ffa052;    /* 枠の指定 */
}

