/*popup表示させたいコンテンツのレイアウトと位置*/
.popup{
  width:100%;
  height: 100%;
  line-height:100px;
  background:rgba(255, 255, 255, 0.568);
  padding:0 4%;
  box-sizing:border-box;
  display:none;
  position:fixed;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pop-text{
  background-color: #01b6ed;
}

/*ボタンの装飾*/
label span{
  display:block;
  background-color:#01b6ed;
  color:#fff;
  width:200px;
  line-height:40px;
  border-radius:4px;
  text-align:center;
}
label span:hover{
  cursor:pointer;
}
input[type="checkbox"]{
  display:none;
}
/*checkboxがcheckの状態になったらpopupを表示させる*/
input[type="checkbox"]:checked + .popup{
  display:block;
}

